{% extends 'base.html' %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block title %}panel megaczłowieka{% endblock %}

{% block content %}

<h1>Pociągi</h1>
{% for operator, ts in trains %}
<p><b>{{ operator }}</b></p>
<ul>
	{% for train in ts %}
		<li><a href="{% url kolstat-train train.category.name train.number%}">{{ train.number }}</a> ({{ train.get_relation_string }}) <a class="del" href="{% url admin-train-delete train.id %}">usuń</a></li>
	{% endfor %}
</ul>
{% endfor %}

<p>Dodaj nowy</p>
<form action="{% url admin-add-train %}" method="post"> {% csrf_token %}
	<table class="table-form">
		{{ form }}
	</table>
	<input type="submit" class="button" value="Dodaj" />
</form>
{% endblock %}
