*.log
*.pot
*.pyc
local_settings.py
static/*
db/*
.gitignore
listy/*
kolstat/kolstatapp/planner/gen_graph/graph.out
*.bak
kolstat.db
kolstatapp/planner/gen_graph/graph.out
kolstatapp/utils/gsk/state.p
