{% extends 'base.html' %}
{% load helpers %}

{% block title %}nowa podróż{% endblock %}

{% block head %}
{% link 'stations.js' %}
<script type="text/javascript">
	function prepare(){
		$('#id_date').datepicker({dateFormat: "dd.mm.yy"});
	}

	$(document).ready(prepare);
</script>
{% endblock %}

{% block content %}

<h1>Dzień dobry!</h1>
<p>Proszę podać stację początkową, końcową i planowany czas wyjazdu.</p>

<form action="{% url 'kolstat-plans-new' %}" method="post">{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Szukaj" />
</form>

{% endblock %}
