<!DOCTYPE html>
{% load utils %}
{% load account %}
{% load helpers %}
<html>
<head>
	<meta charset="utf-8" />
	<meta name="author" content="Karol Farbiś, Maciej Kacprzak" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<title>Kolstat - {% block title %}[untitled]{% endblock %}</title>


	{% link 'ui-lightness/jquery-ui-1.8.21.custom.css' %}
	{% link 'favicon.ico' %}
	{% link 'style.less' %}

	{% link 'jquery-1.7.2.min.js' %}
	{% link 'jquery-ui-1.8.21.custom.min.js' %}
	{% link 'common.js' %}
	{% block head %}{% endblock %}
	{% link 'less-1.3.3.min.js' %}
</head>

<body>
	<div id="container">
		<div id="main-menu">
			<ul>
				<li><a href="{% url 'kolstat-plans' %}"><div>Podróże</div></a></li>
				<li><a href="{% url 'kolstat-plans-new' %}"><div>Planuj</div></a></li>
				<li><a href="{% url 'kolstat-trains-search' %}"><div>Pociągi</div></a></li>
				<li><a href="{% url 'units-classes' %}"><div>Baza taboru</div></a></li>
				<li><a href="{% url 'kolstat-stations' %}"><div>Stacje</div></a></li>
			</ul>
		</div>

		<div id="topbar">
			Dzisiaj jest {% now "DATE_FORMAT" %}, a Ty jesteś {% if user.is_authenticated %} {% user_display user %}.
			<a href="{% url 'user-profile' %}">[profil]</a>
			<a href="{% url 'account_logout' %}">[wyloguj się]</a> {% else %} niezalogowany.
			<a href="{% url 'account_login' %}">[zaloguj się]</a>
			<a href="{% url 'account_signup' %}">[zarejestruj się]</a>
			{% endif %}

			{% if messages %}
				<ul class="messages">
					{% for message in messages %}
						<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
					{% endfor %}
				</ul>
			{% endif %}

		</div>

		<div id="content">
			{% comment %}
			<div id="loginbox">
				{% if not user.is_authenticated %}
					<form action="{% url 'django-login' %}" method="post">{% csrf_token %}
						<fieldset><legend>Panel logowania</legend>
							{% get_login_form "as_p" %}
							<input class="button" type="submit" value="Zaloguj" />
							<button><a href="{% url 'socialauth_begin' "google-oauth2" %}">Zaloguj z Google</a></button>
						</fieldset>
					</form>
				{% else %}
					<p>Witaj, <b>{{user.first_name}}</b>!</p>
					<p><a href="{% url 'user-journeys' %}">Moje podróże</a></p>
					{% if user.is_superuser %} <p><a href="{% url 'admin' %}">AdminPanel</a></p> {% endif %}
					<p><a href="{% url 'django-logout' %}">Wyloguj się</a></p>
				{% endif %}
			</div>
			{% endcomment %}
		{% block content %}
		{% endblock %}
		</div>

		<footer>
			<p>
				<a href="#">Kontakt</a> |
				<a href="#">Statystyki</a> |
				<a href="#">O Kolstacie</a>
			</p>
			<p> Tworzone przez nerdów. </p>
		</footer>
	</div>
</body>

</html>
